[Unit]
Description={{ app_name }} service
After=syslog.target network.target

[Service]
Type=simple
User={{ app_name }}
Group={{ app_name }}

PermissionsStartOnly=true

ExecStart=/bin/nohup {{ corretto_bin_path }} -Xms32m -Xmx32m -Djava.net.preferIPv4Stack=true -jar {{ app_jar_path }}

StandardOutput=syslog
LimitNOFILE=131072
LimitNPROC=8192
TimeoutStartSec=5
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target